* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #93d6dd;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-family: monospace;
  font-size: 20px;
  padding-top: 20px;
}

.container {
  display: flex;
  gap: 50px;
  background-color: #5199a1;
  padding: 10px;

  height: 450px;
  border-radius: 5px;
}
.calc,
.resultado {
  padding: 20px;
  border-radius: 5px;
}

.calc {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 50px;
  margin-bottom: 10px;
}
.btn:hover {
  cursor: pointer;
}

.texto {
  margin-bottom: 5px;
  margin-top: 10px;
}

.resultado {
  background-color: #23686f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total {
  text-align: right;
}

#btnResetar,
#btnCalcular {
  width: 200px;
  bottom: 20px;
}

button {
  height: 35px;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: #23686f;
  cursor: pointer;
}
#btnResetar:hover {
  background-color: #5199a1;
}
input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
  border: none;
  border-radius: 3px;
}
/* bloco a baixo é pra remover as setinhas dos inputs */
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/*  */

@media (max-width: 700px) {
  .container {
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
    justify-content: center;
  }
  .calc,
  .resultado {
    width: 100%;
    gap: 20px;
  }

  .titulo {
    text-align: center;
  }
}
